#root {
    width: 90vw;
    margin: 0 auto;
}


/**
 * ブックマーク
 */

#bookmark {
    float: left;
    width: 350px;
    height: 95vh;
    overflow: scroll;
    border: solid black 1px;
}


/**
* 閲覧履歴
*/

#history {
    float: left;
    width: 350px;
    overflow: scroll;
    height: 95vh;
    border: solid black 1px;
}

#task-list {
    float: left;
    width: 350px;
    overflow: scroll;
    height: 95vh;
    border: solid black 1px;
}

#right {
    float: right;
}


/**
* ショートカットリスト
**/

#shortcut {
    width: 150px;
}

label>input {
    /* アップロードボタンのスタイルを無効にする */
    display: none;
}

label {
    color: #AAAAAA;
    /* ラベルテキストの色を指定する */
    background-color: #006DD9;
    /* ラベルの背景色を指定する */
    padding: 10px;
    /* ラベルとテキスト間の余白を指定する */
    border: double 4px #AAAAAA;
    /* ラベルのボーダーを指定する */
    float: right;
}