.TaskListHeaderView {
    padding: 5px;
    vertical-align: middle;
    background-color: #a00;
}

.TaskListView {
    vertical-align: middle;
    padding-left: 5px;
}

.TaskItemView {
    vertical-align: middle;
    word-wrap: break-word;
    padding: 5px 0px 5px 5px;
}

.TaskItemAddButton {
    display: inline;
    float: right;
    color: #AAAAAA;
    /* ラベルテキストの色を指定する */
    background-color: #006DD9;
}