.TaskListHeaderView {
    vertical-align: middle;
    background-color: #a00;
}

.TaskItemAddButton {
    float: right;
}

.TaskItemView {
    height: 50px;
    vertical-align: middle;
}

.TaskItemCompleteButton {
    float: right;
}