.TaskListHeaderView {
    padding: 5px;
    background-color: skyblue;
}

.TaskListHeaderText {
    margin-left: 5px;
}

.TaskListView {
    vertical-align: middle;
}

.TaskItemView {
    word-wrap: break-word;
    padding: 5px;
}

.TaskItemAddButton {
    /** カーソルを指に */
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    background-color: cornflowerblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.TaskItemAddButton:hover {
    background-color: darkslateblue;
}

.TaskItemCompleteButton {
    /** カーソルを指に */
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    background-color: cornflowerblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.TaskItemCompleteButton:hover {
    background-color: darkslateblue;
}

.TaskItemText {
    margin-left: 5px;
}